@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap&subset=latin-ext');

body {
  margin: 0;
  font-family: 'Raleway', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}





input, button {
	font-family: 'Raleway', -apple-system, sans-serif !important;
	font-size: 30pt;
}

input[type=text] {

}

input[type=submit] {

}